# general
node_modules/
dist/
.env
.env.local
*.log
.DS_Store
coverage/
.vite/

# terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
# .terraform.lock.hcl
.terraform.tfstate.lock.info